h1, h2, h3, h4, h5, h6 {
	background: transparent;
	color: white;
	font-family: "Times New Roman";
	font-size: 60px;
}
p {
	background: transparent;
	color: white;
	font-family: "Times New Roman";
	font-size: 72px;
}
body, h1, h2, img, p {
	background: transparent;
}
i, a {
	background: transparent;
}
body {
	font-family: "Times New Roman";
	font-size: 40px;
	text-align: left;
	padding-top: 10px
}
p {
	background: transparent;
	font-size: 20px;
}
a {
	background: transparent;
	color: white;
	text-decoration: none;
	padding: 15px;
}
img {
  vertical-align: text-top;
  padding-left: 15px;
}
body {
	background-image: url("http://kurld.com/images/wallpapers/smoke-wallpaper/smoke-wallpaper-8.jpg");
	background-position: bottom;
	background-color: black;
	background-size: 70%;
	background-position: middle right;
	background-repeat: no-repeat;
}
h2 {
	font-size: 30px;
}
@media screen and (man-width= 320 px) {
		body {
			font-size: 100%
					}
}



			